/* src/styles.css */

/* Variables de color */
:root {
    --night: #0b090aff;
    --eerie-black: #161a1dff;
    --blood-red: #660708ff;
    --cornell-red: #a4161aff;
    --cornell-red-2: #ba181bff;
    --imperial-red: #e5383bff;
    --silver: #b1a7a6ff;
    --timberwolf: #d3d3d3ff;
    --white-smoke: #f5f3f4ff;
    --white: #ffffffff;
}

/* Reset y base global */
html {
    box-sizing: border-box;
    font-size: 100%; /* Puedes ajustar aquí si prefieres un tamaño base diferente */
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: Arial, sans-serif; /* Puedes personalizar la fuente aquí */
    color: var(--white-smoke);
    background-color: var(--night);
    max-width: 1300px;
    /* Gradiente lineal que va de un tono ligeramente más claro al centro hacia el color más oscuro */
    background: linear-gradient(to right, var(--night) 10%, var(--eerie-black) 50%, var(--night) 90%);
    /* Este gradiente tiene un 10% del color oscuro, se aclara hacia el centro con el color más suave y vuelve a oscurecerse hacia los bordes */
}
