<app-marquee></app-marquee>
<main>
    <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore ex, earum quam harum dignissimos consequatur libero eos. Temporibus, accusamus ipsam ullam quo, itaque minima vel iusto voluptatibus repellendus modi magnam.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum at nesciunt illo, sequi esse fugiat nihil natus laborum repellat expedita animi facere voluptas unde reprehenderit eum quam atque magnam illum.</p>
</main>
<app-tech-stack></app-tech-stack>

