main {
    max-width: 70%;
    margin: 0 auto;
    margin-top: 5rem;
    padding: 0 1rem;
    border-bottom: 1px solid var(--outer-space);
}

#experiencia {
    padding: 2rem;
    color: var(--timberwolf);
}

.experiencia .container {
    max-width: 1200px;
    margin: 0 auto;
}

.experiencia__titulo {
    font-size: 2rem;
    text-align: right;
    margin-bottom: 1rem;
}

.experiencia__contenido {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

span {
    color: var(--saffron);
    font-weight: bold;
}

.experiencia__foto {
    float: left;
    width: 250px;
    height: 250px;
    shape-outside: circle(50%); /* Forma circular para que el texto rodee la foto */
    clip-path: circle(50%); /* Recorta la imagen en forma circular */
    margin-right: 1rem; /* Agrega espacio a la derecha de la imagen */
     /* Solo para depurar y ver el area de la imagen */
     /* background-color: yellow; */
}

.experiencia__foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.experiencia__descripcion {
    flex: 1;
    line-height: 1.5;
}

.experiencia__descripcion p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .experiencia__contenido {
        flex-direction: column;
        align-items: center;
    }

    .experiencia__foto {
        margin-bottom: 1rem;
        width: 120px;
        height: 120px;
    }

    .experiencia__descripcion {
        text-align: center;
    }

    .experiencia__titulo {
        text-align: center;
    }
}

@media (max-width: 480px) {
    .experiencia {
        padding: 1.5rem;
    }

    .experiencia__descripcion p {
        font-size: 0.9rem;
    }

    .experiencia__foto {
        width: 100px;
        height: 100px;
    }
}
