<app-aside></app-aside>
<app-marquee></app-marquee>
<main>
    <section id="experiencia" class="experiencia">
        <div class="container">
            <h2 class="experiencia__titulo">It's me, Fede!</h2>
            <div class="experiencia__contenido">
                <div class="experiencia__foto">
                    <img src="yo.png" alt="Federico Sosa" />
                </div>
                <div class="experiencia__descripcion">
                    <p>¡Hola! Soy <span>Federico Sosa</span>, recién graduado de la <span>Técnicatura Universitaria en Programación</span> en la <span>UTN</span>, Mar del Plata.</p>
                    <p>Estoy explorando el mundo de la programación mientras desarrollo habilidades en diferentes áreas. Me interesa especialmente el <span>desarrollo backend</span> y los desafíos de la <span>lógica</span>, pero también disfruto <span>diagramar y estructurar soluciones claras y funcionales</span>.</p>
                    <p>Soy una persona <span>curiosa y proactiva</span>, en búsqueda de oportunidades que me ayuden a crecer y definir mi camino en el desarrollo de software.</p>
                </div>                
            </div>
        </div>
    </section>
</main>
<app-tech-stack></app-tech-stack>
