<app-marquee></app-marquee>
<main>
    <section id="experiencia" class="experiencia">
        <div class="container">
            <div class="experiencia__foto">
                <img src="yo.png" alt="Federico Sosa" />
            </div>
            <div class="experiencia__descripcion">
                <h2>It's me, Fede!</h2>
                <p><strong>Federico Sosa</strong> - Estudiante avanzado de programación en la <strong>UTN</strong>, Mar del Plata.</p>
                <p>Apasionado por la tecnología, especializado en JavaScript, TypeScript y Angular.</p>
            </div>
        </div>
    </section>
</main>
<app-tech-stack></app-tech-stack>
