<div class="carousel-container">
  <p-carousel 
      [value]="projects" 
      [numVisible]="3" 
      [numScroll]="1" 
      [responsiveOptions]="responsiveOptions">
      <ng-template let-project pTemplate="item">
          <div class="project-card">
              <div class="project-image-container">
                  <img 
                      src="{{ project.background }}" 
                      [alt]="project.title" 
                      class="project-image" />
                  <p-tag 
                      [value]="project.status" 
                      class="project-tag" />
              </div>
              <div class="project-details">
                  <div class="project-title">{{ project.title }}</div>
                  <div class="project-description">{{ project.description }}</div>
              </div>
          </div>
      </ng-template>
  </p-carousel>
</div>
