.project-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 7rem;
  }
  
  .arrow {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    transition: opacity 0.3s ease;
  }
  
  .arrow img {
    width: 70px; /* Tamaño de las flechas */
    height: 70px;
  }
  
  .left-arrow {
    left: 0;
  }
  
  .right-arrow {
    right: 0;
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Aseguramos que haya 4 columnas */
    gap: 20px;
    width: 80%;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-padding: 100px;
    position: relative;
    /* Elimina overflow: hidden; */
  }
  
  .project-card {
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0.7;
    cursor: pointer;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    grid-column: span 1; /* Los proyectos ocupan 1 columna */
    grid-row: span 1; /* Los proyectos ocupan 1 fila */
  }
  
  .large-card {
    opacity: 1;
    cursor: pointer;
    transform: scale(1.1);
    grid-column: 1 / span 2; /* Ocupa las primeras 2 columnas */
    grid-row: 1 / span 2; /* Ocupa las primeras 2 filas */
    z-index: 2; /* Asegura que siempre esté sobre los demás proyectos */
    margin-top: -10px; /* Ajusta según sea necesario */
    margin-left: -10px; /* Ajusta según sea necesario */
  }
  
  .project-card:hover {
    transform: scale(1.05);
  }
  
  h3, p {
    color: black;
  }
  .project-image {
    width: 100%; /* Hace que la imagen ocupe el ancho completo del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 8px; /* Redondea los bordes de la imagen */
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
  }