/* Contenedor principal */
.carousel-container {
  width: 100%;
  max-width: 900px;
  margin: auto;
  position: relative;
  overflow: hidden; /* Evita el scroll debajo del carrusel */
}

/* Tarjetas de proyecto */
/* Tarjetas de proyecto */
.project-card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background-color: var(--seasalt);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  transition: all 0.3s ease;
  
  /* Espacio entre las tarjetas */
  margin: 0 15px; /* 15px de espacio horizontal entre tarjetas */
}

.project-card:hover{
  transform:  scale(1.1);
  z-index: 1111;
  box-shadow: 0 0 10px var(--slate-gray);
}

/* Contenedor de imagen */
.project-image-container {
  position: relative;
}

.project-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

/* Tag de estado del proyecto */
.project-tag {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
}

/* Detalles del proyecto */
.project-details {
  text-align: center;
}

.project-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.project-description {
  font-size: 1rem;
  color: var(--slate-gray);
}

/* Estilos para los indicadores */
::ng-deep .p-carousel-indicator {
  background-color: rgba(0, 0, 0, 0.3); /* Fondo oscuro y suave para los inactivos */
  border-radius: 50%;
  width: 12px; /* Tamaño más grande */
  height: 12px;
  margin: 0 5px; /* Espacio entre los indicadores */
  transition: background-color 0.3s, transform 0.3s; /* Efectos de transición */
}

::ng-deep .p-carousel-indicator.p-highlight {
  background-color: blue; /* Indicador activo de color azul */
  transform: scale(1.2); /* Agrandar el indicador activo */
}

/* Estilos para las flechas */
/* Estilos para las flechas */
::ng-deep .p-carousel-prev,
::ng-deep .p-carousel-next {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro para las flechas */
  border-radius: 50%;
  color: white;
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* Centra las flechas verticalmente */
  z-index: 10;
  cursor: pointer;
}

::ng-deep .p-carousel-prev {
  left: 0; /* Posiciona la flecha izquierda */
}

::ng-deep .p-carousel-next {
  right: 0; /* Posiciona la flecha derecha */
}


::ng-deep .p-carousel-prev:hover, .p-carousel-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Evitar overflow por el uso de las flechas */
::ng-deep .p-carousel .p-carousel-content {
  overflow: hidden;
}
