.project-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 7rem;
  padding: 1rem;
  max-width: 1100vw;
}

/* Flechas */
.arrow {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  padding: 10px;
  transition: opacity 0.3s ease;
}

.arrow img {
  width: 50px;
  height: 50px;
}

/* Flecha izquierda: posición por defecto a la izquierda */
.left-arrow {
  left: -40px; /* Las flechas se sacan del grid */
}

.right-arrow {
  right: -40px; /* Las flechas se sacan del grid */
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 80%;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scroll-padding: 100px;
}

/* Estilo de cada tarjeta */
.project-card {
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0.7;
  cursor: pointer;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  grid-column: span 1;
  grid-row: span 1;
}

/* Tarjeta destacada */
.large-card {
  opacity: 1;
  cursor: pointer;
  transform: scale(1.1);
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  z-index: 2;
  margin-top: -10px;
  margin-left: -10px;
}

.project-card:hover {
  transform: scale(1.05);
}

h3, p {
  color:var(--eerie-black);
}

h3{
  font-size: 1.5rem;
}

p{
  font-size: 1.1rem;
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}


/* Responsivo para pantallas medianas (768px - 1200px) */
@media (max-width: 1200px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
    width: 60%;
  }

  .arrow img {
    width: 40px;
    height: 40px;
  }

  .left-arrow {
    left: 0; /* Ajustamos la posición de la flecha izquierda */
  }

  .right-arrow {
    right: 0; /* Ajustamos la posición de la flecha derecha */
  }
}

/* Responsivo para pantallas pequeñas (<768px) */
@media (max-width: 768px) {
  .projects-grid {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .project-card {
    padding: 15px;
  }

  .large-card {
    grid-column: 1;
    grid-row: auto;
  }

  /* Colocamos las flechas al costado del grid en pantallas pequeñas */
  .arrow {
    top: 30%;
    transform: translateY(-50%);
  }

  .left-arrow {
    bottom: 70px;
  }

  .right-arrow {
    bottom: 10px;
  }

  .arrow img {
    width: 30px;
    height: 30px;
  }
}