<div class="carousel-container">
    <!-- <button type="button" class=""></button> -->
    <p-carousel 
        [value]="projects" 
        [numVisible]="3" 
        [numScroll]="3" 
        [responsiveOptions]="responsiveOptions"
        [circular]="true"
        autoplayInterval="3000">

        >
        <ng-template let-project pTemplate="item">
            <div class="project-card">
                <div class="project-image-container">
                    <img 
                        [src]="project.background" 
                        [alt]="project.title" 
                        class="project-image" />
                    <p-tag 
                        [value]="project.status" 
                        class="project-tag" />
                </div>
                <div class="project-details">
                    <div class="project-title">{{ project.title }}</div>
                    <div class="project-description" title="{{ project.description }}">
                        {{ project.description }}
                    </div>
                    <button pButton type="button" label="Ver más" icon="pi pi-info-circle" class="p-button-outlined"></button>
                </div>
            </div>
        </ng-template>
    </p-carousel>
  </div>
  