<div class="projects-header">
    <h2>Mi Camino en el Desarrollo</h2>
    <p>
      A lo largo de mi recorrido como desarrollador, he trabajado en una amplia variedad de proyectos, 
      desde aplicaciones web dinámicas hasta sistemas backend robustos. 
      Mi enfoque siempre ha sido combinar creatividad con funcionalidad.
    </p>
    <ul>
      <li><strong>Lenguajes:</strong> JavaScript, TypeScript, Java, C., Python</li>
      <li><strong>Frameworks:</strong> Angular, PrimeNG, Express.js. Django</li>
      <li><strong>Bases de datos:</strong> MySQL.</li>
    </ul>
  </div>
  
  <!-- Carousel -->
  <app-carousel></app-carousel>
  