<!-- En tu archivo HTML -->
<div class="marquee-container">
  <span class="marquee-text">¡Este es un mensaje deslizante!</span>
</div>

<div class="tools-container">
  <img class="tool-logo" src="css-icon.png" alt="Logo 1">
  <img class="tool-logo" src="angular-icon.png" alt="Logo 1">
  <a href="javascript:void(0)" (click)="scrollTo('django')">
    <img class="tool-logo" src="django-icon.png" alt="Logo 1">
  </a>
  <!-- <img class="tool-logo" src="django-icon.png" alt="Logo 1"> -->
  <img class="tool-logo" src="HTML5_logo_and_wordmark.svg.png" alt="Logo 1">
  <img class="tool-logo" src="Mysql.svg.png" alt="Logo 1">
  <img class="tool-logo" src="pngwing.com.png" alt="">
  <img class="tool-logo" src="Node.js_logo.svg.png" alt="">
  <img class="tool-logo" src="The_C_Programming_Language_logo.svg.png" alt="">
  <img class="tool-logo" src="Typescript_logo_2020.svg.png" alt="">
  <img class="tool-logo" src="Unofficial_JavaScript_logo_2.svg.png" alt="">
  <img class="tool-logo" src="Python-logo-notext.svg.png" alt="">



</div>


<div>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore incidunt ullam praesentium. Corrupti velit modi expedita laboriosam aliquam tempore fuga laudantium voluptatum ipsam eum, natus sapiente doloribus, provident inventore amet? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab quidem quaerat, corrupti similique quibusdam eligendi neque rem rerum necessitatibus inventore, omnis cupiditate, quis consequatur esse consequuntur aperiam. Sed, iusto sunt. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae excepturi fugiat fugit vel officia ipsam, sit, assumenda explicabo cupiditate odio provident ut et ipsa consequatur, dolorem deserunt tempore asperiores amet? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam praesentium nemo veritatis voluptatibus eos quisquam, repellat totam voluptates illum tempora perspiciatis officiis eum dolore dicta necessitatibus optio, dolorem velit sunt!</p>
</div>
<div id="django">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi asperiores vitae deserunt, illum odio tempore ducimus dolor delectus cum hic quas omnis, odit dolore veniam labore aliquid. Quo, voluptas corrupti!</div>

<router-outlet />
