aside {
    background-color: var(--outer-space);
    color: var(--white-smoke);
    padding: 1rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;  /*Posicionar la imagen en la esquina */
    max-width: 100%;  
  }
  
  /* Títulos y párrafos */
  h3 {
    color: var(--saffron);
    font-size: 1.25rem; 
  }
  
  p {
    margin: 0.5rem 0;
  }
  
  /* Estilos para la imagen del gif */
  aside img {
    position: absolute;
    top: 10px;  /* Ajusta el espacio desde la parte superior */
    right: 10px; /* Ajusta el espacio desde la parte derecha */
    width: 80px; /* Tamaño de la imagen */
    height: 80px; /* Tamaño de la imagen */
    border-radius: 50%; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); /* Sombra para darle un efecto más suave */
    opacity: 0.9; /* Hace que la imagen tenga algo de transparencia */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Suaviza el cambio de opacidad y escala */
  }
  
  /* Efecto cuando el ratón pasa sobre la imagen */
  aside img:hover {
    opacity: 1; /* Hace que la imagen se vea completamente opaca al pasar el ratón */
    transform: scale(1.1); /* Aumenta un poco el tamaño de la imagen al hacer hover */
  }
  
  /* Media Queries para mobile */
  @media (max-width: 480px) {
    aside {
      padding: 0.5rem;  /* Reducir el padding en pantallas pequeñas */
    }
  
    h3 {
      font-size: 1.1rem; /* Ajusta el tamaño del título */
    }
  
    p {
      font-size: 0.9rem; /* Reduce el tamaño de los párrafos */
    }
  
    aside img {
      width: 60px;  /* Reduce el tamaño del gif */
      height: 60px;
      top: 5px;  /* Ajusta la posición */
      right: 5px;
    }
  }
  
  @media (max-width: 768px) {
    aside {
      padding: 1rem;  /* Ajusta el padding para pantallas medianas  */
    }
  
    h3 {
      font-size: 1.2rem; /* Ajusta el tamaño del título */
    }
  
    aside img {
      width: 70px;  /* Tamaño intermedio */
      height: 70px;
    }
  }
  
  @media (max-width: 1200px) {
    aside {
      padding: 1.5rem;  /* Ajusta el padding para pantallas más grandes */
    }
  
    h3 {
      font-size: 1.3rem;  /* Ajusta el tamaño del título para pantallas grandes */
    }
  
    aside img {
      width: 90px;  /* Tamaño grande */
      height: 90px;
    }
  }
  