.tools-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(80px, 1fr)
  ); 
  gap: 20px; /* Espaciado entre los logos */
  justify-items: center; /* Centra los logos horizontalmente dentro de cada celda */
  align-items: center; /* Centra los logos verticalmente dentro de cada celda */
  margin: 10% 25%; /* Margen superior e inferior del 10%, márgenes izquierdo y derecho del 25% */
  justify-content: center; /* Centra el contenido de las filas incompletas */
}

.tool-logo {
  width: 80px; /* Ancho del logo */
  height: auto; /* Mantener la proporción */
  transition: transform 0.3s ease;
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.3)); /* Sombra más suave */
}

.tool-logo:first-child {
  width: 60px; /* Tamaño diferente para el primer logo */
}

.tool-logo:hover {
  transform: scale(1.1); /* Efecto de hover */
}

@media (max-width: 600px) {
  .tool-logo {
    width: 30px; /* Reducir el tamaño en pantallas pequeñas */
  }

  .tool-logo:first-child {
    width: 30px;
  }
}


h3{
  text-align: center;
  font-size: 2rem;
}